div{
    background-color: dimgrey;
}

.movies{
    
    display: flex;
    flex-wrap: nowrap;
    margin: 4rem;
    align-content: center;
    flex-direction: row;
    overflow-x: auto;
    position: relative;
    padding: 5px;
   
    

    
}

.movies-poster{
    display: inline;
    box-sizing: border-box;

}

.card-body{
    padding: 5px;
    text-align: center;
    
}



